<div class="modal-header">
    <h3 class="modal-title">Widget settings</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <p>Check/uncheck a widget to toggle the visibility of the widget.</p>
            <ul class="list-unstyled">
                <li ng-repeat="(cookieName, widgetInfo) in vm.widgetSettings">
                    <div class="checker">
                        <span ng-class="{1: 'checked'}[widgetInfo.status]">
                            <input id="{{ cookieName }}" type="checkbox" data-skip-uniform ng-model="widgetInfo.status" ng-false-value="0" ng-true-value="1">
                        </span>
                    </div>
                    <label for="{{ cookieName }}">{{ widgetInfo.name }}</label>
                </li>
            </ul>

            <p>Notification settings</p>
            <ul class="list-unstyled">
                <li>
                    <div class="checker">
                        <span ng-class="{'checked': vm.notificationSettings.enabled}">
                             <input id="notificationSettingsEnabled" type="checkbox" data-skip-uniform ng-model="vm.notificationSettings.enabled" ng-false-value="0" ng-true-value="1">
                        </span>
                    </div>
                    <label for="notificationSettingsEnabled">Enable widget notifications</label>
                </li>
                <ul ng-if="vm.notificationSettings.enabled" class="list-no-style">
                    <li>
                        <div class="checker">
                            <span ng-class="{'checked': vm.notificationSettings.openOnClick}">
                                 <input id="widgetNotificationsOpenPage" type="checkbox" data-skip-uniform ng-model="vm.notificationSettings.openOnClick" ng-false-value="0" ng-true-value="1">
                            </span>
                        </div>
                        <label for="widgetNotificationsOpenPage">Go to website on click</label>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn green" ng-click="vm.saveModal()">Save</button>
    <button class="btn" ng-click="vm.closeModal()">Close</button>
</div>
